*
!zoomus.conf
!.gitignore

!systemd
!systemd/**

!fish
!fish/**

!GIMP/2.10/menurc

!pcmanfm
!pcmanfm/**

!openbox
!openbox/**

!bleachbit
!bleachbit/**

!spectrwm
!spectrwm/**

!terminator
!terminator/**

!sublime-text-3
!sublime-text-3/**

!networkmanager-dmenu/
!networkmanager-dmenu/**

!paru
!paru/**
